.main-title {
    font-size: 32px;
    @media (max-width: 767px) {
      font-size: 24px;
    }
  }
  .main {
    margin: 50px 15%;
    @media (max-width: 767px) {
      margin: 10px;
    }
    .columns {
      @media (min-width: 768px) {
        columns: 2;
      }
    }
  }