  .title--purchase {
    font-size: 28px;
    font-weight: lighter;
    margin-bottom: 20px;

    &::after {
      display: block;
      content: "";
      width: 60px;
      height: 5px;
      background-color: #eed75d;
      margin: 20px auto 0;

      @media (max-width: 767px) {
        width: 25px;
        margin: 8px auto;
      }
    }
  }

  .tabs {
    display: flex;
    gap: 5px;
    justify-content: center;
    position: relative;
    align-items: center;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: unset;
    }

    &--container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        opacity: 0.6;
        font-weight: lighter;
      }
    }

    select {
      right: 0;
      border: 1px solid black;
      background-color: white;
      padding: 10px 20px;
      position: absolute;

      @media (max-width: 767px) {
        position: static;
      }
    }

    .router-link-active {
      text-decoration: none;
      color: black;
      font-size: 18px;
      opacity: 1;
      font-weight: bold;
    }

    > div {
    }
  }
